/*OBS toda vez que tiver row mexe na vertical e toda vez que tiver colunm mexe na horizontal*/
.container {
    background-color: #333;
    border: 3px solid #ccc;
    padding: 15px;
    display: grid;
    gap: 5px;
    grid-template-areas: 
        'header header header header'
        'sidebar content content content'
        'footer footer footer footer';
    ;
}

.container div{
    background-color: #597;
    border: 1px solid #715;
    padding: 20px;
}

#header {
    grid-area: header;
}
#sidbar {
    grid-area: sidbar;
    height: 50vh;
}
#content {
    grid-area: content;
    height: 50vh;
}
#footer {
    grid-area: footer;
}