.slide.active {
    opacity: 1;
    z-index: 2;
    transform: translate(0px) scale(1);
  }
  
  .slide.lqueue {
    opacity: 0.64;
    z-index: 1;
    transform: translate(-100%) scale(0.64);
  }
  
  .slide.rqueue {
    opacity: 0.64;
    z-index: 1;
    transform: translate(100%) scale(0.64);
  }
  
  .slide.lhidden {
    opacity: 0;
    z-index: auto;
    transform: translate(-160%) scale(0);
  }
  
  .slide.rhidden {
    opacity: 0;
    z-index: auto;
    transform: translate(160%) scale(0);
  }
  
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .gallery {
    position: relative;
    width: 400px; /* Can be anything */
    height: 650px; /* Can be anything */
    list-style: none;
  }
  
  .slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  /* Root structure */

:root {
    --color-primary: #1a1a1d;
    --color-secondary: #955d80;
    --color-tertiary: #d3b6bf;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  ul {
    list-style: none;
  }
  
  .container {
    height: 100vh;
    background-image: linear-gradient(180deg, #ce0240, #a80135);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  /* Gallery list layout */
  
  .gallery {
    position: relative;
    width: 400px;
    height: 650px;
    list-style: none;
  }
  
  
  /* Individual item a.k.a "slide" structure */
  
  .slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #ffe9e3, #ffe9e3);
    border-radius: 25px;
    padding: 50px;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;
  }
  
  
  /* Slide states */
  
  .slide.active {
    opacity: 1;
    z-index: 2;
    transform: translate(0px) scale(1);
  }
  
  .slide.lqueue {
    opacity: 0.64;
    z-index: 1;
    transform: translate(-100%) scale(0.64);
  }
  
  .slide.rqueue {
    opacity: 0.64;
    z-index: 1;
    transform: translate(100%) scale(0.64);
  }
  
  .slide.lhidden {
    opacity: 0;
    z-index: auto;
    transform: translate(-160%) scale(0);
  }
  
  .slide.rhidden {
    opacity: 0;
    z-index: auto;
    transform: translate(160%) scale(0);
  }
  
  .slide.lqueue *,
  .slide.rqueue *,
  .slide.lhidden *,
  .slide.rhidden * {
    pointer-events: none;
  }
  
  .slide.lqueue *::selection,
  .slide.rqueue *::selection,
  .slide.lhidden *::selection,
  .slide.rhidden *::selection {
    background-color: transparent;
  }
  
  
  /* Slide specifics */
  
  .slide--picture {
    width: 300px;
    height: 320px;
    object-position: top;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: -10px 10px 60px #ce0240;
    margin-bottom: 30px;
  }
  
  .slide--name,
  .slide--description {
    width: 100%;
    text-align: left;
    font-weight: bold;
  }
  
  .slide--name {
    color: var(--color-primary);
    font-size: 1.6rem;
  }
  
  .slide--description {
    font-size: 1rem;
    color: var(--color-secondary);
  }