body {
    background-color: #F5F5F5;
    color: #555;
    font-size: 1.1em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  .container {
    margin: 40px auto;
    max-width: 700px;
  }
  
  .element {
    width: 200px;
    height: 200px;
    background-color: #009966;
    opacity: .8;
    position: relative;
    margin: 100px auto;
  }
  
  .element:before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #009966;
    opacity: .8;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
  }