body {
    color: #555;
    font-size: 1.25em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

hr {
    margin: 50px 0;
}

.container {
    margin: 40px auto;
    max-width: 700px;
}

input[type="checkbox"]:checked+label {
    text-decoration: line-through;
    color: grey;
}

input[type="checkbox"]:checked {
    width: 20px;
    height: 20px;
  }
  
  input[type="radio"]:checked {
    width: 20px;
    height: 20px;
  }
  
  select {
    padding: .25em 1em;
  }
  
  option:checked {
    background-color: deepPink;
    color: white;
  }
  /* style labels */
  
  input[type="checkbox"]:checked + label {
    text-decoration: line-through;
  }
  
  input[type="radio"]:checked + label {
    color: #0099CC;
  }
