div {
    width: 200px;
    height: 200px;
    background-color: aqua;
    display: inline-block;
}
article {
    width: inherit;
    height: inherit;
    background-color: inherit;
    margin-left: 250px;
}
span {
    color: initial;
}
p {
    color: blueviolet;
}


#teste {
    background-color: yellow;
}

.quadrados {
    width: 200px;
    height: 200px;
    background-color: aqua;
    
}
.quadrados.red{ /*dentre todos os elementos que tiverem a classe quadrado, pega todos que tiverem a classe red*/
    background-color: red;
}
.quadrados .blue{/*entra no quadrados e pega todos os elementos que tiverem a classe blue*/
    background-color: blue;
}

