body {
    background: red;
    padding: 30px;
  }
  
  p {
      display: none;
  }
  
  @media (min-width: 768px) {
      body {
          background: blue;
          color: white;
      }
  }
  @media (min-width: 1260px){
      body {
          color: initial;
          font-size: 60px;
      }
      p {
          display: initial;
      }
  }